table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

thead {
    background-color: rgb(128, 128, 128, 0.5);
}

tbody {
    background-color: rgb(0, 191, 255, 0.5);
}

td {
    background-color: rgb(252, 3, 244, 0.5);
}

h4 {
    color: #CCCCCC;
    padding: 20px;
}