{% extends "base.html" %}

{% block content %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/style.css">
  <h1 style="text-align: center">Works Log</h1>
  <a class="btn btn-dark" href="/add_work" style="margin-top: 10px">Добавить работу</a>
  {% for work in works['works'] %}
    <h1>Action #{{ work['job'].id }}</h1>
    <table>
      <thead>
        <tr>
          <th>Title of activity</th>
          <th>Team leader</th>
          <th>Duration</th>
          <th>List of collaborators</th>
          <th>Is finished</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ work['job'].job }}</th>
          <th>{{ work['leader'] }}</th>
          <th>{{ work['job'].end_date - work['job'].start_date }}</th>
          <th>{{ work['job'].collaborators }}</th>
          <td>
            {% if work['job'].is_finished %}
              is finished
            {% else %}
              is not finished
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
    {% if current_user.is_authenticated and (current_user == work['job'].user) %}
    <div>
        <a href="/work/{{ work['job'].id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/work_delete/{{ work['job'].id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}