{% extends "base.html" %}

{% block content %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/style.css">
  <h1 style="text-align: center">Works Log</h1>
  <a class="btn btn-dark" href="/departments" style="margin-top: 10px">To departments</a>
  <a class="btn btn-dark" href="/add_work" style="margin-top: 10px">Add job</a>
  {% for job, category in print_data %}
    <h1>Action #{{job.id }}</h1>
    <table>
      <thead>
        <tr>
          <th>Title of activity</th>
          <th>Team leader</th>
          <th>Duration</th>
          <th>List of collaborators</th>
          <th>Hazard Category</th>
          <th>Is finished</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ job.job }}</th>
          <th>{{ job.team_leader }}</th>
          <th>{{ job.end_date - job.start_date }}</th>
          <th>{{ job.collaborators }}</th>
          <th>{{ category.id }}</th>
          <td>
            {% if job.is_finished %}
              is finished
            {% else %}
              is not finished
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
    {% if current_user.is_authenticated and (current_user == job.user or current_user == captain) %}
    <div>
        <a href="/work/{{ job.id }}" class="btn btn-warning">
            Edit
        </a>
        <a href="/work_delete/{{ job.id }}" class="btn btn-danger">
            Delete
        </a>
    </div>
    {% endif %}
  {% endfor %}
{% endblock %}